{% extends "base.html" %}

{% block content %}

<header>
    <a href="/main" class="unstyled-link">
        <img src="/static/logo/main.svg" class="header-img" />
    </a>

    <!-- Rolling custom navbar as Bootstrap's doesn't really fit with our theme. -->
    <div class="navbar-container">
        <div class="btn-group">
            <a href="/about" class="btn navbar-text">About us</a>
            <a href="/watchlist" class="btn navbar-text">Watchlist</a>
            <a href="/logout" class="btn navbar-text">Logout</a>
        </div>
    </div>
</header>

{% block content_headered %}
{% endblock %}

{% endblock %}
