<!DOCTYPE html>
<html>
    <head>
        <title>Search</title>
        <link href="https://fonts.googleapis.com/css?family=K2D" rel="stylesheet">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
<!--    <body style="background-image: url(/static/background.jpg);">-->
    <body>
    <h1 style="font-family: 'K2D';font-size: 75PX;text-align: center;color: black;">Movies Providers</h1><br><br><br>

    <p style="padding-bottom: 20px; "></p>

    <table border
           style="padding: 10px;border:3px solid black;text-align: center;width: 100%;height: 50%;border-collapse: collapse;text-decoration-color: black;color: black ">

        <tr style="height:50px;border-bottom: 3px solid black;border-left: 3px solid black">
            <th>
                <bold>Buy</bold>
            </th>

            <th>
                <bold>Rent</bold>
            </th>

            <th>
                <bold>Subscription Platforms</bold>
            </th>
        </tr>

        {% for row in result %}

        <tr style="height:50px">
            <td>{{row[0]}}</td>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
        </tr>

        {% endfor %}

    </table>

    <p style="padding-bottom: 20px; "></p>

    </body>
</html>
