{% extends "base-headered-no-navbar.html" %}

{% block content_headered %}

<h2 class="centered mt-5 mb-4">
    Forgot your password? No worries, we've got you covered!
</h2>

<div class="centered">
    {% if msg %}
    <div class="container centered mt-3">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="alert alert-success alert-dismissible fade show col-md">
                {{msg}}
                <button type="button" class="btn-close" data-dismiss="alert"></button>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    {% endif %}

    <div>
        Tell us your email, and we'll send you a link to reset your password.
    </div>

    <div class="login-card mt-3">
        <div class="login-card-content">
            <form method="POST" action="/forgot-password">
                <div class="input-group mx-auto mb-3" style="width: 15rem;">
                    <input type="email" name="email" class="form-control textbox-rounded" placeholder="Email" autofocus>
                </div>
                <button class="btn ss-button login-button">
                    Submit
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
