{% extends "base-split.html" %}

{% block split_left %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="centered">
    <img id="login-icon" src="/static/logo/icon.svg" class="center-block" /><br />
    <img id="login-text" src="/static/logo/text.svg" class="center-block" />
</div>

{% endblock %}

{% block split_right %}

<div class="centered">
    <div id="login-tagline">
        Stop searching, start watching!
    </div>

    {% if msg %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="alert alert-danger alert-dismissible fade show col-md">
            {{msg}}
            <button type="button" class="btn-close" data-dismiss="alert"></button>
        </div>
        <div class="col-md-2"></div>
    </div>
    {% endif %}

    <div class="login-card">
        <div class="login-card-content">
            <form method="POST" action="/login">
                <div class="input-group mx-auto mb-2" style="width: 15rem;">
                    <input type="email" name="email" class="form-control textbox-rounded" placeholder="Email" autofocus>
                </div>
                <div class="input-group mx-auto mb-2" style="width: 15rem;">
                    <input type="password" name="password" class="form-control textbox-rounded" placeholder="Password">
                </div>

                <input type="checkbox" class="mb-3" name="remember">
                    Remember me
                </input><br />

                <button class="btn ss-button login-button mb-2">Login</button>

                <div class="small-text">
                    New to StreamSearch? <a href="/signup">Sign up</a>
                </div>
                <div class="small-text mb-2">
                    Forgot your password? <a href="/forgot-password">Reset it here</a>
                </div>

                <div class="separator">
                    <div class="small-text mx-2">
                        or
                    </div>
                </div>

                <div id="sso-buttons" class="mx-auto mt-3 mb-3" style="width: 15rem;">
                    <div class="mb-1">
                        <a href="/login_oauth" class="btn ss-button login-button" role="button">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Lohgo.svg.png"
                                class="sso-logo" />
                            &nbspLogin with Google
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
