{% extends "base-single.html" %}

{% block content %}

<script type="text/javascript" src="/static/js/coords.js"></script>

<header>
    <img src="/static/logo/main.svg" />
</header>

<!-- <div id="locale-alert" class="alert alert-primary alert-dismissable fade show" style="width: 50rem;" role="alert">
    Auto-detected your locale!
    <button type="button" class="btn-close" aria-label="Close"></button>
</div> -->

<form action="/search" method="POST" style="padding: 5rem; text-align: center;">
    <input type="text" class="form-control-lg search-box" style="text-align: center;" placeholder="What would you like to watch today?" required/>
    <div style="padding: 1rem;">
        <select id="locale-dropdown" class="selectpicker show-tick" title="Choose country" data-live-search="true" style="margin-top: 1rem;" required>
            {% for locale_option in all_locales %}
            <option value="{{locale_option.alpha_2}}" title="{{locale_option.name}}">{{locale_option.name}}</option>
            {% endfor %}
        </select><br/>
    </div>
    <div style="padding-top: 1.5rem">
        <button type="submit" class="btn btn-primary btn-lg" style="padding-left: 1.5rem; padding-right: 1.5rem;">Search</button>
    </div>
</form>

{% endblock %}
