<!DOCTYPE html>
<html>
    <head>
        <title>Universal Streaming Search</title>
        <link href="https://fonts.googleapis.com/css?family=K2D" rel="stylesheet">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        <br><br>
        
        <form>
            <center><img src="/static/UniStreamSearch.png" height="100" width="700"></center>
        </form>

        <body style="background-image: url(/static/Moviebackground.png);">
        
        <br><br>

        <form action="http://localhost:5000/search" method="POST" style="padding: 20px; text-align: center;">
            <input type="text" name="search" placeholder="Enter movie or TV show" size=90 style="height: 50px; width: 700px; text-align: center; font-size: 25px;" required>
            <br><br><br><br><br>

            <select name="locale" style="height: 35px;" required>
                <option value="" style="text-align: center;">Choose country</option>
                {% for locale_option in all_locales %}
                <option value="{{locale_option.alpha_2}}">{{locale_option.name}}</option>
                {% endfor %}
            </select><br/>

            <br><br><br><br><br>

            <button type="submit" class="btn btn-primary">
                <img src="/static/searchicon1.png" height="100"/>
                <i class="icon-user icon-white"></i>
            </button>
        </form>

        <p style="padding-bottom: 20px; "></p>
    </body>
</html>
