<!DOCTYPE html>
<html>
    <head>
        <title>Universal Streaming Search</title>
        <link href="https://fonts.googleapis.com/css?family=K2D" rel="stylesheet">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <form>
        <img src="/static/backicon.png" height="60" onclick="history.go(-1)"/>
    </form>

        <h1 style="font-family: 'K2D';font-size: 50px;font-weight:900;text-align: center;color: black;">Movies not found for this region</h1><br><br><br>
        <body style="background-color: rgb(255, 224, 230);">

    </body>
</html>
