{% extends "base-headered-no-navbar.html" %}

{% block content_headered %}

<script src="/static/js/passwords-same.js"></script>

<h2 class="centered mt-5 mb-4">
    Reset your password
</h2>

<div class="centered">
    {% if is_expired %}
    <div class="container centered mt-3">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="alert alert-danger alert-dismissible fade show col-md">
                Uh-oh, looks like your password reset link has expired. Please
                request a new one <a href="{{url_for('forgot_password')}}">here</a>.
                <button type="button" class="btn-close" data-dismiss="alert"></button>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>

    {% elif is_successful %}
    <div class="container centered mt-3">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="alert alert-success alert-dismissible fade show col-md">
                You're all set! Your password has been reset successfully. Click
                <a href="{{url_for('login')}}">here</a> to login with
                your new password.
                <button type="button" class="btn-close" data-dismiss="alert"></button>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>

    {% else %}
    <div class="login-card mt-3">
        <div class="login-card-content">
            <!-- Posting to same page so we have access to token in function `reset_password`. -->
            <form method="POST" action="" oninput='passwordsSame();'>
                <div class="input-group mx-auto mb-3" style="width: 15rem;">
                    <input type="password" name="password" class="form-control textbox-rounded" placeholder="New password">
                </div>
                <div class="input-group mx-auto mb-3" style="width: 15rem;">
                    <input type="password" name="password_confirm" class="form-control textbox-rounded" placeholder="Retype new password">
                </div>
                <button class="btn ss-button login-button">
                    Submit
                </button>
            </form>
        </div>
    </div>

    {% endif %}
</div>

{% endblock %}
