{% extends "search.html" %}

{% block content_search %}

<div id="search-results-container" class="centered">
    {% for media in medias %}
    <div class="media-card mt-3 mb-3">
        <a href="/providers?id={{media.id}}&title={{media.title}}&media_type={{media.media_type.value}}">
            <div class="movie-image">
                <img class="media" src="{{media.poster_path}}" />
                <div>{{media.title}}</div>
            </div>
        </a>
        <a href="/watchlist?id={{media.id}}&title={{media.title}}&path={{media.poster_path}}"> <button
                style="margin-left: 30px;">Add to watchlist</button> </a>
    </div>
    {% endfor %}
</div>

{% endblock %}
