<!DOCTYPE html>
<html>
    <head>
        <title>Universal Streaming Search</title>
        <link href="https://fonts.googleapis.com/css?family=K2D" rel="stylesheet">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <form>
        <img src="/static/backicon.png" height="60" onclick="history.go(-1)"/>
    </form>

    <body>
        <h3 style="font-family: 'K2D';font-size: 50px;font-weight:900;text-align: center;color: black;">Universal Streaming Search</h1><br><br><br>
        <body style="background-color: rgb(255, 224, 230);">

        <p style="padding-bottom: 20px; "></p>

        <table border style="padding: 10px;border:3px solid black;text-align: center;width: 90%;height: 50%;border-collapse: collapse;text-decoration-color: black;margin-left: auto;margin-right: auto;">
            <tr style="height:50px;border-bottom: 3px solid black;border-left: 3px solid black">
                <th>ID</th>
                <th>Poster</th>
                <th>Media type</th>
                <th>Name</th>
                <th>Overview</th>
                <th>Popularity</th>
            </tr>

            {% for media in medias %}
            <tr style="height:50px" id="{{media.id}}" onclick="sendId(this);">
                <td>{{media.id}}</td>
                <td><img src="{{media.poster_path}}"/></td>
                <td>{{media.media_type.value}}</td>
                <td><a href="http://localhost:5000/providers?id={{media.id}}&title={{media.title}}&media_type={{media.media_type.value}}&locale_code={{locale.alpha_2}}">{{media.title}}</a></td>
                <td>{{media.overview}}</td>
                <td>{{media.popularity}}</td>
            </tr>
            {% endfor %}
        </table>

        <p style="padding-bottom: 20px; "></p>

    </body>
</html>
