{% extends "search.html" %}

{% block content_search %}

<form action="/filter" method="POST" class="mt-5 mb-5 centered">
    <div width="100%">
        <select id="language-dropdown" class="form-select-lg selectpicker show-tick" name="language"
            onchange="this.form.submit()" title="Filter by language" data-live-search="true" data-width="auto"
            data-size="10">
            {% for language in languages %}
            <option value="{{language}}" title="{{language}}">{{language}}</option>
            {% endfor %}
        </select><br />
    </div>
</form>

<div class="container centered">
    {% for media in medias %}
    <a href="/providers?id={{media.id}}&title={{media.title}}&media_type={{media.media_type.value}}"
        class="unstyled-link">
        <div class="media-card mt-3 mb-3">
            <div class="row justify-content-md-left">
                <div class="col col-sm-3">
                    <img class="media-card-poster" src="{{media.poster_path}}" />
                </div>
                <div class="col col-sm">
                    <div class="media-description">
                        <div class="media-card-title mt-4 mb-3">
                            {{media.title}}
                        </div>
                        <div class="media-card-overview">
                            {% if media.overview|length < 250 %}
                                {{media.overview}}
                            {% else %}
                                {{media.overview[:250]}}...
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
    {% endfor %}
</div>

{% endblock %}
