{% extends "base-headered-no-navbar.html" %}

{% block content_headered %}

<script src="/static/js/passwords-same.js"></script>

<h2 class="centered mt-5 mb-4">
    Ready to dive in? Sign up now and let's get started!
</h2>

<div class="centered">
    {% if is_successful %}
    <div class="container centered mt-3">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="alert alert-success alert-dismissible fade show col-md">
                We've sent an email to your inbox with a link to verify and
                activate your account. Please click on the link to complete the
                process. Once you've done that, you'll be able to log in to your
                account.
                <button type="button" class="btn-close" data-dismiss="alert"></button>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>

    {% elif error_msg %}
    <div class="container centered mt-3">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="alert alert-success alert-dismissible fade show col-md">
                {{error_msg}}
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    {% endif %}

    <div class="login-card mt-3">
        <div class="login-card-content">
            <form method="POST" action="" oninput='passwordsSame();'>
                <div class="input-group mx-auto mb-3" style="width: 15rem;">
                    <input type="text" name="name" class="form-control
                    textbox-rounded" placeholder="Name" autofocus required>
                </div>
                <div class="input-group mx-auto mb-3" style="width: 15rem;">
                    <input type="email" name="email" class="form-control
                    textbox-rounded" placeholder="Email" required>
                </div>
                <div class="input-group mx-auto mb-3" style="width: 15rem;">
                    <input type="password" name="password" class="form-control
                    textbox-rounded" placeholder="Password" required>
                </div>
                <div class="input-group mx-auto mb-3" style="width: 15rem;">
                    <input type="password" name="password_confirm"
                    class="form-control textbox-rounded" placeholder="Confirm password" required>
                </div>
                <button class="btn ss-button login-button">
                    Submit
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
