{% extends "base-headered.html" %}

{% block content_headered %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"
    integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<h1 class="centered mt-4">Your watchlist</h1>

<form action="/send_email" method="POST" class="mt-5 mb-5 centered">
            <div width="100%">
                <select id="frequency-dropdown" class="form-select-lg selectpicker show-tick" name="settings" title="Frequency (Days)" data-live-search="true" data-width="auto" data-size="5" required>
                    <option value="1" title="">1</option>
                    <option value="7" title="">7</option>
                    <option value="14" title="">14</option>
                    <option value="31" title="">31</option>
                </select><br/>
            </div>
            <div class="mt-4">
                <button type="submit" id="settings-button" class="btn btn-primary btn-padding btn-rounded">Submit</button>
            </div>
        </form>

{% for media in watchlist %}
<a href="/providers?id={{media.id}}&title={{media.title}}&media_type={{media.media_type.value}}" class="unstyled-link">
    <div class="media-card mt-3 mb-3">
        <div class="row justify-content-md-start">
            <div class="col col-sm-3">
                <img class="media-card-poster" src="{{media.poster_path}}" />
            </div>
            <div class="col col-sm">
                <div class="media-description" style="padding-left: 10px; padding-right: 10px;">
                    <div class="media-card-title mt-4 mb-3">
                        {{media.title}}
                    </div>
                    <div class="media-card-overview">
                        {% if media.overview|length < 250 %} {{media.overview}} {% else %} {{media.overview[:250]}}...
                            {% endif %} </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</a>
{% endfor %}

<div class="mt-5">
    <h3 class="centered">Share my watchlist to</h3>
</div>
<div class="container socials-container centered">
    <table class="table table-sm table-borderless centered">
        <tr>
            <td>
                <a class="social-icon icon-twitter unstyled-link" target="blank"><i class="fab fa-twitter"></i></a>
            </td>
            <td>
                <a class="social-icon icon-reddit unstyled-link" target="blank"><i class="fab fa-reddit"></i></a>
            </td>
            <td>
                <a class="social-icon icon-whatsapp unstyled-link" target="blank"><i class="fab fa-whatsapp"></i></a>
            </td>
            <td>
                <a class="social-icon icon-telegram unstyled-link" target="blank"><i class="fab fa-telegram"></i></a>
            </td>
            <td>
                <a class="social-icon icon-facebook unstyled-link" target="blank"><i class="fab fa-facebook"></i></a>
            </td>
            <td>
                <a class="social-icon icon-linkedin unstyled-link" target="blank"><i class="fab fa-linkedin"></i></a>
            </td>
        </tr>
    </table>
</div>

<script>
    const url = window.location.origin;
    const link = encodeURIComponent(url) + "/show-watchlist/{{ user_id }}";
    const msg = encodeURIComponent('Check out my watchlist!');
    const title = encodeURIComponent('Article or Post Title Here');

    const fb = document.querySelector('.icon-facebook');
    fb.href = `https://www.facebook.com/share.php?u=${link}`;

    const twitter = document.querySelector('.icon-twitter');
    twitter.href = `http://twitter.com/share?&url=${link}&text=${msg}&hashtags=universal,streaming,search`;

    const reddit = document.querySelector('.icon-reddit');
    reddit.href = `http://www.reddit.com/submit?url=${link}&title=${title}`;

    const whatsapp = document.querySelector('.icon-whatsapp');
    whatsapp.href = `https://api.whatsapp.com/send?text=${msg}: ${link}`;

    const telegram = document.querySelector('.icon-telegram');
    telegram.href = `https://telegram.me/share/url?url=${link}&text=${msg}`;

    const linkedin = document.querySelector('.icon-linkedin');
    linkedin.href = `https://www.linkedin.com/sharing/share-offsite/?url=${link}`;
</script>

<!-- <div class="row left-aligned" style="padding-bottom: 20px; padding-left: 20px;">
    <a href="/send_email">
        <button class="btn btn-light" style="border-radius: 1rem;">
            Send Recommendations
        </button>
    </a>
</div> -->

{% endblock %}
